body {
  background-image: url('images/bg.jpg');
  
}
.App{

  color: wheat;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.cards {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
  gap: 2rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  gap: 3px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  height: 90%;
  
  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.search {
  text-align: center;
  font-size: 50px;
  
}
.episodes{
  display: grid;
  grid-template-columns: auto auto auto;
}
.episodlist {
  text-align: center;
  border: 3px solid slateblue;

}
.episodsection {
  display: flex;
  justify-content: space-between;
}

.author {
  color: rgb(27, 207, 51);
}
.quotes {
  text-align: center;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.quotesfull {
  border: 3px solid skyblue;
}
strong {
  color: rgb(162, 169, 199);
}